# dependencies
/node_modules
/test-auth

# AI server
ai-server/__pycache__/
ai-server/venv/
ai-server/*.pyc

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
backend/
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env*.local
.vercel
next-env.d.ts
